annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
astroid==3.0.1
audioread==3.0.1
black==24.2.0
blinker==1.8.2
certifi==2023.11.17
cffi==1.17.1
charset-normalizer==3.3.2
ci_sdr==0.0.2
click==8.1.7
ConfigArgParse==1.7
ctc_segmentation==1.7.4
Cython==3.0.11
decorator==5.1.1
dill==0.3.7
Distance==0.1.3
distro==1.9.0
docopt==0.6.2
editdistance==0.8.1
einops==0.8.0
emoji==2.14.0
espnet==202301
espnet-tts-frontend==0.0.3
fast_bss_eval==0.1.3
fastapi==0.104.1
filelock==3.16.1
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
fsspec==2024.9.0
g2p-en==2.1.0
greenlet==3.1.1
h11==0.14.0
h5py==3.12.1
httpcore==1.0.4
httpx==0.27.0
humanfriendly==10.0
hydra-core==1.3.2
idna==3.6
importlib-metadata==4.13.0
inflect==7.0.0
iniconfig==2.0.0
isort==5.12.0
itsdangerous==2.2.0
jaconv==0.4.0
jamo==0.4.1
Jinja2==3.1.4
joblib==1.4.2
kaldiio==2.18.0
lazy_loader==0.4
librosa==0.10.2.post1
llvmlite==0.43.0
marisa-trie==1.2.1
MarkupSafe==3.0.1
mccabe==0.7.0
mpmath==1.3.0
msgpack==1.1.0
mypy-extensions==1.0.0
mysqlclient==2.2.6
networkx==3.4.1
nltk==3.9.1
num2words @ git+https://github.com/savoirfairelinux/num2words.git@3e39091d052829fc9e65c18176ce7b7ff6169772
numba==0.60.0
numpy==1.26.4
omegaconf==2.3.0
openai==1.14.2
opt_einsum==3.4.0
packaging==23.2
pathspec==0.12.1
platformdirs==4.0.0
pluggy==1.3.0
pooch==1.8.2
protobuf==3.20.1
pycparser==2.22
pydantic==2.5.2
pydantic_core==2.14.5
pylint==3.0.2
PyMySQL==1.1.1
pypinyin==0.44.0
pytest==7.4.3
pytorch-wpe==0.0.1
pyworld==0.3.4
PyYAML==6.0.2
regex==2024.9.11
requests==2.31.0
scikit-learn==1.5.2
scipy==1.11.4
sentencepiece==0.2.0
six==1.16.0
sniffio==1.3.0
soundfile==0.12.1
soxr==0.5.0.post1
sqlacodegen==2.3.0.post1
SQLAlchemy==2.0.36
stanza==1.7.0
starlette==0.27.0
sympy==1.13.3
threadpoolctl==3.5.0
toml==0.10.2
tomlkit==0.12.2
torch==2.2.2
torch-complex==0.4.4
tqdm==4.66.2
typeguard==2.13.3
typing_extensions==4.8.0
ukrainian-accentor @ git+https://github.com/egorsmkv/ukrainian-accentor.git@5b7971c4e135e3ff3283336962e63fc0b1c80f4c
ukrainian-tts @ git+https://github.com/robinhad/ukrainian-tts.git@bef46202e7dcfc77dc40e321f6f15b02eaef69d8
ukrainian-word-stress==1.1.0
Unidecode==1.3.8
urllib3==2.1.0
uvicorn==0.24.0.post1
Werkzeug==3.1.1
zipp==3.20.2
